/*classes to change bootstrap*/
.pink-background{
    background-color: #f5d6d6;
}
.center{
    justify-content: center;
}
.margin-10 a{
    margin-left: 50px;
}
.display-flex{
    display: flex;
}
.open-sans-font{
    font-family: 'Open Sans', sans-serif;
}

/* /////////////////section 1////////////////////// */
.rainbow-look{
   margin-top: 50px;
   margin-right: 0;
   margin-left: 0;
}


.product-img{
width: 100%;
}
.img-div1{
    margin: 0 auto;
    width: 80%;
}
.img-div{
    margin: 0 auto;
    width: 80%;
}
@media(max-width:760px){
    .img-div{
        width: 90%;
    }
    .img-div1{
        width: 70%;
    }
}
@media(max-width:570px){
    .img-div{
        width: 70%;
    }
}
@media (max-width:575px){
    .product{
        margin-top: 40px;
    }
}
/* BUTTON */
.button-div{
   display: flex;
   justify-content: center;
   align-content: center;
   text-decoration: none; 
   margin-top: 50px;
}
.button-div3{
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none; 
    margin-top: 50px;
}
@media(max-width:760px){
    .button-div3{
        margin-top: 0px;
    } 
}
.button{
    width: 200px;
    height: 50px;
    text-decoration: none; 
    background-color: #f5d6d6;
}
.button:hover {
    background-color: #af7979;
}
.button:hover .button-a{
    color: white;
}
.button-a{
    text-decoration: none; 
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-underline-position: none;
}



/* //////////////section2///////////// */
.img-pallete{
    margin: 0 auto;
    width: 80%;
}

@media (max-width: 760px){
.img-pallete{
    width: 50%;
}
}










/* footer */
.footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 10%;
}
.more-about-me{
    padding: 8px;
    border: 2px solid black;
}
.footer-title{
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 25px;
} 
.social-div{
    background-color: #f5d6d6;
    padding: 8px;
    border-bottom: 2px solid black;
}
.social-media{
   color: black;
   text-decoration: none; 
   text-decoration-color: black;
}    /*responsive */
