/*classes to change bootstrap*/
.pink-background{
    background-color: #f5d6d6;
}
.center{
    justify-content: center;
}
.margin-10 a{
    margin-left: 50px;
}
.display-flex{
    display: flex;
}
.open-sans-font{
    font-family: 'Open Sans', sans-serif;
}


/*logo section*/
.logo-display{

    display: flex;
    justify-content: center;
    align-content: center;
}
.main-logo{
    max-width: 180px;
    margin: 20px;
    
 }    /*responsive */
 @media (max-width: 750px){
   .main-logo{
       max-width: 150px;
   }
}
@media (max-width: 500px){
    .main-logo{
        max-width: 120px;
    }
}

/*aesthetic-section*/
.aesthetic-section{
   display: flex;
   align-content: center;
   justify-content: space-between;
}
.pink-div1{
width: 15%;

}
.pink-div2{
   width: 15%;
   
}
.makeup-div{
   width: 60%;
   display: flex;
   align-content: center;
   padding: 40px ;
}
.pink-div-image{
    width: 50%;
    margin-right: 10px;
}
.pink-div-image2{
    width: 50%;
    
}
/*responsive */

@media(max-width: 980px){
    .makeup-div{
        width: 80%;
     }
}
@media(max-width: 600px){
    .makeup-div{
        width: 100%;
    }
    .pink-div1{
       width: 10%;
    }
    .pink-div2{
        width: 10%;
     }
}
@media(max-width:500px){
    .aesthetic-section{
        flex-wrap: wrap;
    }

    .pink-div-image{
        margin-right: 2px;
    }
    .makeup-div {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .pink-div-image2 {
        width: 100%;
        margin-top: 10px;
    }
    .pink-div-image {
        width: 80%;
        margin-right: 0;
    } 
}




/*makeup description*/
.makeup-description {
    margin-top: 80px;
    margin-bottom: 80px;

}
.makeup-is-art-img{
    display: flex;
    width: 50%;
}
.bare-eye-div{
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 4%;
}
.bare-eye{
    width: 70%;
}
.yellow-eye-div{
    width: 50%;
    padding-top: 2%;
}
.yellow-eye{
    width: 70%;
  
}
.makeup-descript-div{
    width: 50%;
    display: flex;
    align-items: center;
}
.makeup-title{
   font-size: 40px;
   letter-spacing: 3px;
   font-family: 'Cookie', cursive;
   font-weight: bold;
/* font-family: 'Monoton', cursive; */
/* font-family: 'Homemade Apple', cursive; */

}  

.makeup-p{
    width: 85%;
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
}   /*responsive */
@media(max-width:830px){
    .yellow-eye {
        width: 80%;
    }
    .bare-eye {
        width: 80%;
    }
}
@media(max-width:720px){
    .makeup-description {
        flex-wrap: wrap;
    justify-content: center;
    }
    .makeup-is-art-img{
         width: 70%;
    }
    .makeup-descript-div{
        width: 70%;
        margin-top: 30px;
    }
    .makeup-p{
        width: 100%;
    }
}
@media(max-width:750px){
    .makeup-is-art-img{
        width: 75%;
    }
    .bare-eye-div{
        width: 100%;  
    }
    .bare-eye{
        width: 80%;
    }
    .yellow-eye-div{
        width: 100%;
        padding-top: 2%;
    }
    .yellow-eye{
        width: 80%;
      
    }
    .makeup-descript-div{
        width: 75%;
    }
}
@media(max-width:500px){
    .makeup-is-art-img {
        width: 95%;
    }
    .makeup-descript-div {
        width: 85%;
    }
}

/* MY MAKEUP LOOK */
.my-looks-div{
   padding: 2%;
}
.row-img{
    width: 80%;
    border: solid 10px #f5d6d6;
}
.row-img:hover{
    border: solid 10px #af7979;
}   /*responsive */
@media(max-width:767px){
  .row-img{
    width: 100%;
  }
  .bootstrap-col{
    margin: 0 auto;
    margin-top: 30px;
  }
}  
@media(max-width:575px){
    .my-looks-div {
        padding: 75px;
    }
    .bootstrap-col{
        margin-top: 10px;
      }

}
@media(max-width:500px){
    .my-looks-div {
        padding: 30px;
    }
}
@media(max-width:350px){
    .my-looks-div {
        padding: 0px;
    }
}

/* BUTTON */
.button-div{
   display: flex;
   justify-content: center;
   align-content: center;
   text-decoration: none; 
   margin-top: 50px;
}
.button{
    width: 200px;
    height: 50px;
    text-decoration: none; 
    background-color: #f5d6d6;
}
.button:hover {
    background-color: #af7979;
}
.button:hover .button-a{
    color: white;
}
.button-a{
    text-decoration: none; 
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-underline-position: none;
}


/* footer */
.footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-top: 60px;
}
.more-about-me{
    padding: 8px;
    border: 2px solid black;
}
.footer-title{
    font-family: 'Cookie', cursive;
    font-weight: bold;
    font-size: 25px;
} 
.social-div{
    background-color: #f5d6d6;
    padding: 8px;
    border-bottom: 2px solid black;
}
.social-media{
   color: black;
   text-decoration: none; 
   text-decoration-color: black;
}    /*responsive */

